.cardbody {
    text-align: center;
    backdrop-filter: blur(30px);
    color: red;
    border-radius: 30px;
    border: 0.2px solid rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center; 
    margin: 5% 10% 0 10%;
    flex-wrap: wrap;
         
}


.myname {
    font-family: "Aguafina Script", cursive;
    font-weight: 400;
    font-style: bold;
    
  }

.mainchildcardbody {
    display: flex;
    border-radius: 5px;
    /* border: 2px solid rgba(255, 255, 255, 0.5); */
    justify-content: space-evenly; 
    align-items: left;
    margin: 2% 2% 2% 2%;
    text-align: center;
       
}

.mypic {
    display: flex;
    border-radius: 5px;
    /* border: 2px solid rgba(255, 255, 255, 0.5); */
    justify-content: space-evenly; 
    align-items: left;
    margin: 10% 2% 10% 2%;
    text-align: left;
       
}



  